/* Modal Window (popup) */

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	top: 70px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.popup.open .popup_content {
	transform: translate(0, 0) rotateX(0deg);
	opacity: 1;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup_body {
	padding: 30px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup_content {
	border-radius: 10px;
	background: rgba(255, 255, 255, .5);
	backdrop-filter: blur(10px);
	color: var(--color);
	max-width: 1200px;
	padding: 20px;
	position: relative;
	transition: all 0.6s ease;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup_close {
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: var(--color);
}

.popup_title {
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.card_container {
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.person {
  height: 379px;
  width: 300px;
  background: black;
  border-radius: 10px;
  transition: background .8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
	background: url('/pharaoh.png') top center no-repeat;
  background-size: 300px;
}

.person:hover {
  background: url('/pharaoh.png') top left no-repeat;
  background-size: 400px;
}

.person:hover h2,
.person:hover .fa {
  opacity: 1;
}

.card_container h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Responsive Popup Design */

@media (max-width: 576px) {
	.popup_title {
		font-size: 20px;
	}

	.popup_content {
		padding-inline: 4px;
	}
}